@charset "utf-8";
/* CSS Document */
#body {
    z-index: -999;
    width: 100%;
    height: 100%;
    background-image: url(https://s1.ax1x.com/2020/10/03/035exO.jpg);
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}